$themeWidthContainer: 1200px;
$themeWidthContainer_lg: 1200px;
$themeWidthContainer_md: 100%;
$themeWidthContainer_sm: 100%;
$themeWidthContainer_xs: 100%;
$undefined: undefined;
$themePrimaryColor: #6CC945;
$themeSecondaryColor: #F85457;
$themeBackgroundColor: transparent;
$themeTextColor: #333;
$themeBorderColor: #333333;
$themeShadowColor: #333333;
$themeSuccessColor: #31da74;
$themeErrorColor: #e74c3c;
$themeFontFamilyPrimary: 'Open Sans';
$themeFontSizePrimary: 14px;
$themeFontSizePrimary_lg: 16px;
$themeFontSizePrimary_md: 16px;
$themeFontSizePrimary_sm: 15px;
$themeFontSizePrimary_xs: 14px;
$themeFontWeightPrimary: 400;
$themeFontStylePrimary: normal;
$themeFontLineHeightPrimary: 1em;
$themeFontFamilySecondary: 'Montserrat';
$themeFontSizeSecondary: 14px;
$themeFontSizeSecondary_lg: 16px;
$themeFontSizeSecondary_md: 16px;
$themeFontSizeSecondary_sm: 15px;
$themeFontSizeSecondary_xs: 14px;
$themeFontWeightSecondary: 400;
$themeFontStyleSecondary: normal;
$themeFontLineHeightSecondary: 1em;
$themeLinkColor: #333333;
$themeLinkFontSize: 14px;
$themeLinkFontSize_lg: 16px;
$themeLinkFontSize_md: 16px;
$themeLinkFontSize_sm: 15px;
$themeLinkFontSize_xs: 14px;
$themeLinkTextDecoration: none;
$themeLinkBackground: transparent;
$themeLinkFontStyle: normal;
$themeLinkFontWeight: 400;
$themeLinkLineHeight: 1;
$themeLinkHoverColor: #333333;
$themeLinkHoverTextDecoration: underline;
$themeLinkHoverBackground: transparent;
$themeH1FontFamily: 'Open Sans';
$themeH1FontColor: #333333;
$themeH1FontSize: 2.13333em;
$themeH1FontSize_lg: 2.33333em;
$themeH1FontSize_md: 2.33333em;
$themeH1FontSize_sm: 2.13333em;
$themeH1FontSize_xs: 2.13333em;
$themeH1FontBackground: transparent;
$themeH1FontWeight: 700;
$themeH1LineHeight: 1;
$themeH2FontFamily: 'Open Sans';
$themeH2FontColor: #333333;
$themeH2FontSize: 1.2em;
$themeH2FontSize_lg: 1.33333em;
$themeH2FontSize_md: 1.33333em;
$themeH2FontSize_sm: 1.2em;
$themeH2FontSize_xs: 1.2em;
$themeH2FontBackground: transparent;
$themeH2FontWeight: 700;
$themeH2LineHeight: 1;
$themeH3FontFamily: 'Open Sans';
$themeH3FontColor: #333333;
$themeH3FontSize: 1.33333em;
$themeH3FontSize_lg: 1.73333em;
$themeH3FontSize_md: 1.73333em;
$themeH3FontSize_sm: 1.33333em;
$themeH3FontSize_xs: 1.33333em;
$themeH3FontBackground: transparent;
$themeH3FontWeight: 700;
$themeH3LineHeight: 1;
$themeH4FontSize: 1em;
$themeH4FontSize_lg: 1.13333em;
$themeH4FontSize_md: 1.13333em;
$themeH4FontSize_sm: 1;
$themeH4FontSize_xs: 1em;
$themeH4FontFamily: 'Open Sans';
$themeH4FontColor: #333333;
$themeH4FontBackground: transparent;
$themeH4FontWeight: 700;
$themeH4LineHeight: 1;
$themeH5FontFamily: 'Open Sans';
$themeH5FontColor: #333333;
$themeH5FontSize: 0.86667em;
$themeH5FontSize_lg: 1em;
$themeH5FontSize_md: 1em;
$themeH5FontSize_sm: 0.86667em;
$themeH5FontSize_xs: 0.86667em;
$themeH5FontBackground: transparent;
$themeH5FontWeight: 700;
$themeH5LineHeight: 1;
$themeH6FontFamily: 'Open Sans';
$themeH6FontColor: #333333;
$themeH6FontSize: 0.8em;
$themeH6FontSize_lg: 0.93333em;
$themeH6FontSize_md: 0.93333em;
$themeH6FontSize_sm: 0.8em;
$themeH6FontSize_xs: 0.8em;
$themeH6FontBackground: transparent;
$themeH6FontWeight: 700;
$themeH6LineHeight: 1;
$themeButtonPadding: 0.8em 1rem 0.8rem 1rem;
$themeButtonPadding_lg: 0.8em 1rem 0.8rem 1rem;
$themeButtonPadding_md: 0.8em 1rem 0.8rem 1rem;
$themeButtonPadding_sm: 0.8em 1rem 0.8rem 1rem;
$themeButtonPadding_xs: 0.8em 1rem 0.8rem 1rem;
$themeButtonColor: #fff;
$themeButtonBackground: #6CC945;
$themeButtonOpacity: 1;
$themeButtonFontSize: 14px;
$themeButtonFontSize_lg: 16px;
$themeButtonFontSize_md: 16px;
$themeButtonFontSize_sm: 15px;
$themeButtonFontSize_xs: 14px;
$themeButtonOutline: none;
$themeButtonBoxShadow: none;
$themeButtonBorderColor: #6CC945;
$themeButtonBorderWidth: 1;
$themeButtonRadius: 5px;
$themeButtonFontFamily: 'Open Sans';
$themeButtonFontWeight: 400;
$themeFontStyle: normal;
$themeButtonBorderStyle: none;
$themeButtonLineHeight: 1;
$themeButtonTransitionProperty: all;
$themeButtonTransitionDuration: 0.3s;
$themeButtonTransitionTimingFunction: ease;
$themeButtonTransitionDelay: 0.3s;
$themeButtonHoverColor: #fff;
$themeButtonHoverBackground: #89DC66;
$themeButtonHoverOpacity: 1;
$themeButtonHoverBoxShadow: none;
$themeButtonHoverOutline: none;
$themeButtonHoverBorderColor: #6CC945;
$themeButtonHoverBorderStyle: none;
$themeButtonHoverBorderWidth: 1px;
$themeButtonHoverRadius: 5px;
$themeButtonSecondaryPadding: 0.8em 1rem 0.8rem 1rem;
$themeButtonSecondaryPadding_lg: 0.8em 1rem 0.8rem 1rem;
$themeButtonSecondaryPadding_md: 0.8em 1rem 0.8rem 1rem;
$themeButtonSecondaryPadding_sm: 0.8em 1rem 0.8rem 1rem;
$themeButtonSecondaryPadding_xs: 0.8em 1rem 0.8rem 1rem;
$themeButtonSecondaryColor: #6CC945;
$themeButtonSecondaryBackground: transparent;
$themeButtonSecondaryOpacity: 1;
$themeButtonSecondaryFontSize: 14px;
$themeButtonSecondaryFontSize_lg: 16px;
$themeButtonSecondaryFontSize_md: 16px;
$themeButtonSecondaryFontSize_sm: 15px;
$themeButtonSecondaryFontSize_xs: 14px;
$themeButtonSecondaryOutline: none;
$themeButtonSecondaryBoxShadow: none;
$themeButtonSecondaryBorderStyle: solid;
$themeButtonSecondaryBorderColor: #6CC945;
$themeButtonSecondaryBorderWidth: 1px;
$themeButtonSecondaryRadius: 5px;
$themeButtonSecondaryFontFamily: 'Open Sans';
$themeButtonSecondaryFontWeight: 400;
$themeButtonSecondaryLineHeight: 1;
$themeButtonSecondaryTransitionProperty: all;
$themeButtonSecondaryTransitionDuration: 0.3s;
$themeButtonSecondaryTransitionTimingFunction: ease;
$themeButtonSecondaryTransitionDelay: 0s;
$themeButtonSecondaryHoverColor: #fff;
$themeButtonSecondaryHoverBackground: #6CC945;
$themeButtonSecondaryHoverOpacity: 1;
$themeButtonSecondaryHoverBoxShadow: none;
$themeButtonSecondaryHoverOutline: none;
$themeButtonSecondaryHoverBorderColor: #6CC945;
$themeButtonSecondaryHoverBorderStyle: solid;
$themeButtonSecondaryHoverBorderWidth: 1px;
$themeButtonSecondaryHoverRadius: 5px;
$themeFormPadding: 0.8em 1rem 0.8rem 1rem;
$themeFormPadding_lg: 0.8em 1rem 0.8rem 1rem;
$themeFormPadding_md: 0.8em 1rem 0.8rem 1rem;
$themeFormPadding_sm: 0.8em 1rem 0.8rem 1rem;
$themeFormPadding_xs: 0.8em 1rem 0.8rem 1rem;
$themeFormFontSize: 14px;
$themeFormFontSize_lg: 16px;
$themeFormFontSize_md: 16px;
$themeFormFontSize_sm: 15px;
$themeFormFontSize_xs: 14px;
$themeFormColor: #333;
$themeFormFontFamily: 'Open Sans';
$themeFormBackground: transparent;
$themeFormFontWeight: 700;
$themeFormFontStyle: normal;
$themeFormLineHeight: 1;
$themeFormBoxShadow: inset 0px 0px 0px 1px #D9D9D9;
$themeFormBorderStyle: none;
$themeFormBorderWidth: 1px;
$themeFormBorderColor: #D9D9D9;
$themeFormOutline: none;
$themeFormRadius: 5px;
$themeFormTransitionProperty: all;
$themeFormTransitionDuration: 0.3s;
$themeFormTransitionTimingFunction: ease;
$themeFormTransitionDelay: 0.3s;
$themeFormFocusColor: #333;
$themeFormFocusBackground: transparent;
$themeFormFocusBoxShadow: inset 0px 0px 0px 1px #6CC945;
$themeFormFocusBorderStyle: none;
$themeFormFocusBorderWidth: 1px;
$themeFormFocusBorderColor: #D9D9D9;
$themeFormFocusOutline: none;
$themeFormFocusRadius: 5px;