/******************************************************* Color ****************************************************/
$themePrimaryColor: '';
$themeSecondaryColor: '';
$themeBackgroundColor: '';
$themeTextColor: '';
$themeBorderColor: '';
$themeShadowColor: '';
$themeSuccessColor: '';
$themeErrorColor: '';


/******************************************************* Font ****************************************************/
$themeFontFamilyPrimary: 'Roboto';
$themeFontSizePrimary: '16px';
$themeFontWeightPrimary: 400;
$themeFontStylePrimary: 'normal';
// Font Prrimary Laptop
$themeFontSizePrimary-md: '16px';
$themeFontWeightPrimary-md: 400;
// Font Prrimary Tablet
$themeFontSizePrimary-sm: '16px';
$themeFontWeightPrimary-sm: 400;
// Font Prrimary Mobile
$themeFontSizePrimary-xs: '16px';
$themeFontWeightPrimary-xs: 400;


// Font Secondary
$themeFontFamilySecondary: 'Roboto';
$themeFontSizeSecondary: '15px';
$themeFontWeightSecondary: 400;
$themeFontStyleSecondary: 'normal';
// Font Secondary Laptop
$themeFontSizeSecondary-md: '15px';
$themeFontWeightSecondary-md: 400;
// Font Secondary Tablet
$themeFontSizeSecondary-sm: '15px';
$themeFontWeightSecondary-sm: 400;
// Font Secondary Mobile
$themeFontSizeSecondary-xs: '15px';
$themeFontWeightSecondary-xs: 400;


/******************************************************* Link ****************************************************/
$themeLinkTextDecoration: 'none';
$themeLinkColor: '#333333';
$themeLinkBackground: 'transparent';
$themeLinkFontSize: '16px';
$themeLinkFontStyle: 'normal';
// Link Laptop
$themeLinkFontSize-md: '16px';
// Link Tablet
$themeLinkFontSize-sm: '16px';
// Link Mobile
$themeLinkFontSize-xs: '16px';

// Link hover
$themeLinkHoverTextDecoration: 'underline';
$themeLinkHoverColor: '#33A844';
$themeLinkHoverBackground: 'transparent';

// Link active
$themeLinkActiveTextDecoration: 'none';
$themeLinkActiveColor: '#333333';
$themeLinkActiveBackground: 'transparent';

// Link visited
$themeLinkVisitedTextDecoration: 'none';
$themeLinkVisitedColor: '#333333';
$themeLinkVisitedBackground: 'transparent';


/******************************************************* Headding ****************************************************/
// H1
$themeH1FontFamily: '';
$themeH1FontColor: '';
$themeH1FontSize: '';
$themeH1FontBackground: '';
$themeH1FontWeight: '';
// H1 Laptop
$themeH1FontColor-md: '';
$themeH1FontSize-md: '';
// H1 Tablet
$themeH1FontColor-sm: '';
$themeH1FontSize-sm: '';
// H1 Mobile
$themeH1FontColor-xs: '';
$themeH1FontSize-xs: '';

// H2
$themeH2FontFamily: '';
$themeH2FontColor: '';
$themeH2FontSize: '';
$themeH2FontBackground: '';
$themeH2FontWeight: '';
// H2 Laptop
$themeH2FontColor-md: '';
$themeH2FontSize-md: '';
// H2 Tablet
$themeH2FontColor-sm: '';
$themeH2FontSize-sm: '';
// H2 Mobile
$themeH2FontColor-xs: '';
$themeH2FontSize-xs: '';

// H3
$themeH3FontFamily: '';
$themeH3FontColor: '';
$themeH3FontSize: '';
$themeH3FontBackground: '';
$themeH3FontWeight: '';
// H3 Laptop
$themeH3FontColor-md: '';
$themeH3FontSize-md: '';
// H3 Tablet
$themeH3FontColor-sm: '';
$themeH3FontSize-sm: '';
// H3 Mobile
$themeH3FontColor-xs: '';
$themeH3FontSize-xs: '';

// H4
$themeH4FontFamily: '';
$themeH4FontColor: '';
$themeH4FontSize: '';
$themeH4FontBackground: '';
$themeH4FontWeight: '';
// H4 Laptop
$themeH4FontColor-md: '';
$themeH4FontSize-md: '';
// H4 Tablet
$themeH4FontColor-sm: '';
$themeH4FontSize-sm: '';
// H4 Mobile
$themeH4FontColor-xs: '';
$themeH4FontSize-xs: '';

// H5
$themeH5FontFamily: '';
$themeH5FontColor: '';
$themeH5FontSize: '';
$themeH5FontBackground: '';
$themeH5FontWeight: '';
// H5 Laptop
$themeH5FontColor-md: '';
$themeH5FontSize-md: '';
// H5 Tablet
$themeH5FontColor-sm: '';
$themeH5FontSize-sm: '';
// H5 Mobile
$themeH5FontColor-xs: '';
$themeH5FontSize-xs: '';

// H6
$themeH6FontFamily: '';
$themeH6FontColor: '';
$themeH6FontSize: '';
$themeH6FontBackground: '';
$themeH6FontWeight: '';
// H6 Laptop
$themeH6FontColor-md: '';
$themeH6FontSize-md: '';
// H6 Tablet
$themeH6FontColor-sm: '';
$themeH6FontSize-sm: '';
// H6 Mobile
$themeH6FontColor-xs: '';
$themeH6FontSize-xs: '';

/******************************************************* Button ****************************************************/
$themeButtonPadding: '0.8em 1em';
$themeButtonColor: '#fff';
$themeButtonBackground: '#6CC945';
$themeButtonBorderStyle: 'normal';
$themeButtonBorderWidth: 'none';
$themeButtonBorderColor: '';
$themeButtonRadius: '';
$themeButtonFontFamily: '';
$themeButtonFontSize: '';
$themeButtonFontWeight: '';
$themeButtonTransitionProperty: '';
$themeButtonTransitionDuration: '';
$themeButtonTransitionTimingFunction: '';
$themeButtonTransitionDelay: '';
// Button Laptop
$themeButtonPadding-md: '0.8em 1em';
$themeButtonColor-md: '#fff';
$themeButtonBackground-md: '#6CC945';
$themeButtonRadius-md: '';
$themeButtonFontSize-md: '';
// Button Tablet
$themeButtonPadding-sm: '0.8em 1em';
$themeButtonColor-sm: '#fff';
$themeButtonBackground-sm: '#6CC945';
$themeButtonRadius-sm: '';
$themeButtonFontSize-sm: '';
// Button Mobile
$themeButtonPadding-xs: '0.8em 1em';
$themeButtonColor-xs: '#fff';
$themeButtonBackground-xs: '#6CC945';
$themeButtonRadius-xs: '';
$themeButtonFontSize-xs: '';

// Button hover
$themeButtonHoverColor: '';
$themeButtonHoverBackground: '';
$themeButtonHoverBorderStyle: '';
$themeButtonHoverBorderWidth: '';
$themeButtonHoverBorderColor: '';
$themeButtonHoverRadius: '';

// Button Secondary
$themeButtonSecondaryPadding: '';
$themeButtonSecondaryColor: '';
$themeButtonSecondaryBackground: '';
$themeButtonSecondaryBorderStyle: '';
$themeButtonSecondaryBorderWidth: '';
$themeButtonSecondaryBorderColor: '';
$themeButtonSecondaryRadius: '';
$themeButtonSecondaryFontFamily: '';
$themeButtonSecondaryFontSize: '';
$themeButtonSecondaryFontWeight: '';
$themeButtonSecondaryTransitionProperty: '';
$themeButtonSecondaryTransitionDuration: '';
$themeButtonSecondaryTransitionTimingFunction: '';
$themeButtonSecondaryTransitionDelay: '';
// ButtonSecondary Laptop
$themeButtonSecondaryPadding-md: '0.8em 1em';
$themeButtonSecondaryColor-md: '#fff';
$themeButtonSecondaryBackground-md: '#6CC945';
$themeButtonSecondaryRadius-md: '';
$themeButtonSecondaryFontSize-md: '';
// ButtonSecondary Tablet
$themeButtonSecondaryPadding-sm: '0.8em 1em';
$themeButtonSecondaryColor-sm: '#fff';
$themeButtonSecondaryBackground-sm: '#6CC945';
$themeButtonSecondaryRadius-sm: '';
$themeButtonSecondaryFontSize-sm: '';
// ButtonSecondary Mobile
$themeButtonSecondaryPadding-xs: '0.8em 1em';
$themeButtonSecondaryColor-xs: '#fff';
$themeButtonSecondaryBackground-xs: '#6CC945';
$themeButtonSecondaryRadius-xs: '';
$themeButtonSecondaryFontSize-xs: '';

// Button Secondary hover
$themeButtonSecondaryHoverColor: '';
$themeButtonSecondaryHoverBackground: '';
$themeButtonSecondaryHoverBorderStyle: '';
$themeButtonSecondaryHoverBorderWidth: '';
$themeButtonSecondaryHoverBorderColor: '';
$themeButtonSecondaryHoverRadius: '';

/******************************************************* Form ****************************************************/
$themeFormPadding: '';
$themeFormColor: '';
$themeFormBackground: '';
$themeFormBorderStyle: '';
$themeFormBorderWidth: '';
$themeFormBorderColor: '';
$themeFormRadius: '';
$themeFormShadow: '';
$themeFormFontFamily: '';
$themeFormFontSize: '';
$themeFormFontWeight: '';
$themeFormFontStyle: '';
$themeFormTransitionProperty: '';
$themeFormTransitionDuration: '';
$themeFormTransitionTimingFunction: '';
$themeFormTransitionDelay: '';
// Input Laptop
$themeFormPadding-md: '0.8em 1em';
$themeFormBackground-md: '#6CC945';
$themeFormRadius-md: '#6CC945';
$themeFormFontSize-md: '';
// Input Tablet
$themeFormPadding-sm: '0.8em 1em';
$themeFormBackground-sm: '#6CC945';
$themeFormRadius-sm: '#6CC945';
$themeFormFontSize-sm: '';
// Input Mobile
$themeFormPadding-xs: '0.8em 1em';
$themeFormBackground-xs: '#6CC945';
$themeFormRadius-xs: '#6CC945';
$themeFormFontSize-xs: '';

// Input Focus
$themeFormFocusColor: '';
$themeFormFocusBackground: '';
$themeFormFocusBorderStyle: '';
$themeFormFocusBorderWidth: '';
$themeFormFocusBorderColor: '';
$themeFormFocusRadius: '';
$themeFormFocusShadow: '';